<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="base.Listeners"/>
</listeners>
  <test name="Test">
    <classes>
   		<class name="NTRunner.VSERunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
<!-- </Test Reports :: allure serve C:\Users\Induction\Desktop\NothernTrust\NT\allure-results -->